@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

  .App {
    --header_height: 60px;
}

.hw {
    padding: 20px;
}

.hwTitle {

}