.container {
    max-width: 310px;
    color: #000;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

/*.wrapper:nth-child(1) {*/
/*    width: 270px;*/
/*}*/

/*.wrapper:nth-child(2) {*/
/*    width: 310px;*/
/*}*/

.number:first-child {
    align-self: center;
    margin-right: 30px;
}

.number:last-child {
    align-self: center;
    margin-left: 20px;
}